<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>Hello, welcome to my blogs page. I am a fifteen year old named <em>Ojas, also Elevate.</em> 
    Feel free to roam around this website to get a giff of what I do, and what my interests are.
    Check out the following links for updates.</p>
  </div>
  
  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/L-E-G-E-N-D"><%= fa_icon "github" %></a></li>
      <li><a href="https://www.facebook.com/elevateYT/"><%= fa_icon "facebook" %></a></li>
      <li><a href="https://twitter.com/ojas_legend"><%= fa_icon "twitter" %></a></li>
      <li><a href="https://www.youtube.com/channel/UCPOguNRw-RrCTVofgcTFnLQ"><%= fa_icon "youtube" %></a></li>
      <li><a href="https://www.instagram.com/ojas.legend/"><%= fa_icon "instagram" %></a></li>
    </ol>
  </div>
</div>